<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <%- include('./partials/header.ejs', {usernameLogged}) %>
    <h1> <%= title %> </h1>

    Item List
    <ul>
        <li><a href="/item/1"> item 1 </a></li>
        <li><a href="/item/2"> item 2 </a></li>
        <li><a href="/item/3"> item 3 </a></li>
    </ul>
</body>
</html>